
[gcode_macro M300]
gcode:
  SET_PIN PIN=beeper_pin VALUE=1
  G4 P{params.P|default(150)|int}
  SET_PIN PIN=beeper_pin VALUE=0

[gcode_macro _beep_court]
gcode:
  M300 P100
[gcode_macro _deux_beep]
gcode:
  M300 P100
  M300 P100
[gcode_macro _beep_long]
gcode:
  M300 P500

# enlever les erreur de Gcode, pas supporté par Klipper (M201 à M205), envoyé par le sclicer
# https://www.klipper3d.org/G-Codes.html
[gcode_macro m205]
gcode:

[gcode_macro Z_offset]
gcode:
  # avec un switch en z-stop, faire le z-offset avec un bed chaud MAIS pas avec un BLtouch
  M109 S170 T0 ; attendre buse à température de nétooyage
  #M190 S60 ; bed à temp
  G28 ; homing
  _BEEP_COURT
  PROBE_CALIBRATE

[gcode_macro purge]
# ligne de purge sur le bord avant
gcode:
  M117 Purge extruder
  G92 E0 ; reset extruder
  G1 Z1.0 F3000 ; move z up little to prevent scratching of surface
  G1 X0.1 Y20 Z0.3 F5000.0 ; move to start-line position
  G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; draw 1st line
  G1 X0.4 Y200.0 Z0.3 F5000.0 ; move to side a little
  G1 X0.4 Y20 Z0.3 F1500.0 E30 ; draw 2nd line
  G92 E0 ; reset extruder
  G1 Z0.8 F3000 ; frotter légèrement la buse sur le bed avant le print

[gcode_macro Enlever_filament]
gcode:
  M109 S190 T0; attendre buse à 190°
  G91; relative
  G1 E-540 F1200; enlever 54 cm
  _BEEP_LONG
  M104 S0; buse à 0°
  M84; moteurs OFF
  M106 S0 ;fan OFF
  G90; absolue

[gcode_macro Mettre_filament]
gcode:
  M109 S210 T0; attendre buse à 210°
  G28
  G1 Z50 F100 ; monter de 5cm
  G1 E30 F50; mettre 3 cm
  M104 S0; buse à 0°
  M84; moteurs OFF
  _BEEP_COURT
 
[gcode_macro LEVELLING]
# A utiliser manuellement, il y le mesh bed adaptative avec print_start
#variable_T_BED: 50
#variable_T_EXTRUDER: 190
#variable_STANDBY_T_EXTRUDER: 170
gcode:
    {% set T_BED = params.T_BED|default(50)|float %}
    {% set T_EXTRUDER = params.T_EXTRUDER|default(190)|float %}
    {% set STANDBY_T_EXTRUDER = params.STANDBY_T_EXTRUDER|default(170)|float %}    
	M117 home
    # Use absolute coordinates
    G90
    G28
    M117 en chauffe
    # Start bed and extruder heating and continue
    M104 S{STANDBY_T_EXTRUDER}
    M140 S{T_BED}
    {% if printer.heater_bed.temperature < params.T_BED|float*0.85 %}
        M190 S{params.T_BED|float*0.85} # wait till 0.85 of bed temp is reached, then continue  
    {% endif %}  
    M140 S{T_BED} 
    M104 S170
    M190 S{T_BED}
	M109 S{T_EXTRUDER}
    M117 chaud !


[gcode_macro Test_extrusion]
gcode:
  M109 S210 T0 ; buse à température d'impression
  G28 ;homing
  G91 ;relative 
  G1 Z50 F1500 ; monter
  G91 ; relative
  G1 E100 F500 ; 100mm à 5mm/s #plus rapide, l'extruder claque

#----------------------------------------------- Stabilisation de la température
# démarre sans attendre que la température soit stabilisé
[gcode_macro M109]
rename_existing: M99109
gcode:
    #Parameters
    {% set s = params.S|float %}
    
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
    {% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}


[gcode_macro imprimante_off] # sonoff imprimante
gcode:
  {action_call_remote_method(
    "set_device_power", device="sonoff_imprimante", state="off")
  }

#-------------------------------- MQTT
[gcode_macro publish_mqtt]
gcode:
  {% set data = params.PAYLOAD|default(None) %}
  {action_call_remote_method("publish_mqtt_topic",
                             topic="ender/klipper/message",
                             payload=data,
                             qos=0,
                             retain=False,
                             use_prefix=False)}

[gcode_macro _cible_bed]
gcode:
  {% set bed_temp = printer.bed.target %}
  #{% set data = params.PAYLOAD|default(None) %}
  {action_call_remote_method("publish_mqtt_topic",
                             topic="ender/klipper/message",
                             payload=bed_temp,
                             qos=0,
                             retain=False,
                             use_prefix=True)
  }

[gcode_macro _TIMEOUT_CHECK]
gcode:  
    {% if printer.state != "printing" %}
        {% set timeout = 600 %} ; temps en secondes avant d'envoyer le Gcode
        {% set idle_time = printer.time_since_last_activity() %}
        {% if idle_time | int >= timeout %}
            M84 ; replace with your desired Gcode
        {% endif %}
    {% endif %}

#---------------- Backupup sur mon GIT Ender3Pro-Klipper
[gcode_shell_command backup_git]
command: /usr/bin/bash /home/pi/printer_data/config/autocommit.sh
timeout: 30
verbose: True

[gcode_macro Backup_GIT]
description: Backs up config directory GitHub
gcode:
   RUN_SHELL_COMMAND CMD=backup_git




