# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v1.2. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PC13".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Note: This board has a design flaw in its thermistor circuits that
# cause inaccurate temperatures (most noticeable at low temperatures).

### AXES ###

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
position_max: 235
position_min: -5
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PB15
run_current: 0.580
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
position_max: 235
position_min: -5
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC6
run_current: 0.580
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop # For bltouch
position_min: -2 # négative pour que lors d'un z-offset, on puisse descendre "sous" le bed
position_max: 250

[tmc2209 stepper_z]
uart_pin: PC10
run_current: 0.580
stealthchop_threshold: 999999

### EXTRUDER ###

[extruder]
#moteur
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD2
microsteps: 16
#calculer avec https://docs.zerog.one/klipper/calculator#calibrating-rotation_distance-on-extruders
# e-step 93 = 34.400 rotation
rotation_distance: 23.048 #prb 4.738 #au début27.870
nozzle_diameter: 0.600
filament_diameter: 1.750
# compenser les effets des changements de vitesse instantanés (améliore surtout les angles)
#pressure_advance: 0.42
max_extrude_only_distance: 600 # longueur max intrusion/extrusion (defaut 50.0)
#chauffe
heater_pin: PC8
#thermistance
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
# PID
control: pid
pid_Kp: 25.59
pid_Ki: 1.99
pid_Kd: 82.39
min_temp: 0
max_temp: 250

[tmc2209 extruder]
uart_pin: PC11
run_current: 0.650
stealthchop_threshold: 999999

### BED ###

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
control: pid
pid_Kp: 150.60
pid_Ki: 25.79
pid_Kd: 586.33
min_temp: 0
max_temp: 130

### BLtouch & MESH ###

# https://www.klipper3d.org/BLTouch.html
[bltouch]
sensor_pin: ^PC2 ;uses the Z pin for sensor
control_pin: PA1
pin_up_reports_not_triggered: False
pin_up_touch_mode_reports_triggered: False
#stow_on_each_sample: False
# avec ce support https://www.thingiverse.com/thing:5874319
x_offset: -44
y_offset: -5
#pin_move_time: The amount of time (in seconds) to wait for the BLTouch pin to move up or down. The default is 0.680 seconds.

[safe_z_home]
home_xy_position: 156, 125 # BLtouch au centre physique du bed
speed: 100
z_hop: 15                  # après un Z0, monter de 15 mm
z_hop_speed: 5

[bed_mesh] 
speed: 100
horizontal_move_z: 5 # la tête monte de 5 mm entre les points
mesh_min: 6, 15 # premier point de sondage (coordonnés du BLtouch)
mesh_max: 190, 223 # dernier point de sondage
probe_count: 3,3 # (si bed mesh adaptative 7,7 # nb points de sondage
fade_start: 1 # couche de début de la compensation du Z
fade_end: 10 # couche de fin de compensation
mesh_pps: 2,2 # nombre de points à interpoler entre 2 points de sondage  
algorithm: bicubic
#relative_reference_index: 24  # = (probe count X probe count) / 2 sans la virgule. (si la sonde n'est pas fiable ?)
[respond] # si bed mesh adaptative

# correction de la planitude via les 4 vis
[screws_tilt_adjust]
screw1: 70,47
screw1_name: devant/gauche
screw2: 235,47
screw2_name: devant/droit
screw3: 70,218
screw3_name: arrière/gauche
screw4: 235,218
screw4_name: arrière/droit
horizontal_move_z: 5.0
speed: 50
screw_thread: CW-M4 # type de vis et sens (CW for Clowise and CCW for Counter Clockwise)


### ENDER 3 & SKR E3 V1.2 ###

[fan]
pin: PA8

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_37FFD4054246383407611557-if00
restart_method: command

[mcu raspi]
serial: /tmp/klipper_host_mcu

[exclude_object] # pour KAMP

[printer]
kinematics: cartesian
max_velocity: 300 # vitesse max en print
max_accel: 3000 # accel max en print
max_accel_to_decel: 1500 # vitesse à laquelle l'extruder peut passer de l'accélération à la décélération 
# (réduire la vitesse maximale des déplacements courts en zigzag) défaut = max_accel / 2
square_corner_velocity: 5.0 # vitesse max de print des angale à 90° (defaut 5)
max_z_velocity: 5 
max_z_accel: 100 # accel max en print du Z (en mm/s^2) defaut = max_accel


[static_digital_output usb_pullup_enable]
pins: !PC13

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5, EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PB6, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB7, EXP1_10=<5V>

[output_pin beeper_pin]
pin: EXP1_1
pwm: True # A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0 # Silent at power on, set to 1 if active low.
shutdown_value: 0 # Disable at emergency shutdown (no PWM would be available anyway).
cycle_time: 0.001 # Default PWM frequency : 0.001 = 1ms will give a tone of 1kHz (not pitch perfect).


[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[display_status] # pour M117

[virtual_sdcard]
path: /home/pi/printer_data/gcodes #dossier d'upload des Gcode

# ne pas afficher le menu pour Octoprint
[menu __main __octoprint]
type: disabled


#---------------------------- capteurs

[temperature_sensor Raspberry]
sensor_type: temperature_host
min_temp: 10 # val min de détection de problème
max_temp: 100

[temperature_sensor SKR]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Caisson]
sensor_type: DS18B20
serial_no: 28-3ce1e38176d8
ds18_report_time: 1.0
sensor_mcu: raspi

### INCLUDES ###
[include mainsail.cfg]
[include start_pause_end.cfg]
[include macros.cfg] # mes macros
[include adaptive_mesh.cfg] #KAMP
#[include adaptative_bed_mesh.cfg] #pas pour les petites pièces
#[include resonance_tester.cfg]

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 0.655
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.047500, 0.022500, -0.025000
#*# 	0.012500, 0.000000, -0.040000
#*# 	-0.005000, -0.042500, -0.060000
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 83.0
#*# max_x = 136.0
#*# min_y = 88.0
#*# max_y = 141.0
#*#
#*# [skew_correction skew_profile]
#*# xy_skew = 7.078397274593728e-05
#*# xz_skew = -0.0003539448416762558
#*# yz_skew = -0.006091139645929279
